<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-searchbar placeholder="Buscar..." inputmode="decimal" animated type="text" (ionChange)="buscar($event)"
    [debounce]="700" [value]="textoBuscar">

  </ion-searchbar>
</ion-toolbar>


<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Sugeridos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let ayuda of sugeridos" (click)="textoBuscar = ayuda">
      <ion-label color="primary">{{ayuda}} </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
